@import "../../config";

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#fileQueueContainer {
  padding-top: 1em;
  padding-bottom: 1em;
  transition: $animation-duration ease opacity;

  table {
    width: 100%;
  }
}
