<div class="mat-typography project">
  <div
    *ngIf="project"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="1em"
    fxLayoutAlign="center"
  >
    <div
      fxFlex.xl="75%"
      fxFlex.lg="75%"
      fxFlex.md="67%"
      fxFlex.sm="50%"
      fxFlex.xs="100%"
    >
      <mat-card>
        <mat-card-content>
          <h4>
            <markdown [data]="project.description"></markdown>
          </h4>
          <button
            mat-flat-button
            (click)="showProject()"
            color="accent"
            id="project-edit"
            *ngIf="user && user.email == project.pl_pi"
          >
            <mat-icon>edit</mat-icon>
            EDIT PROJECT DETAILS
          </button>
        </mat-card-content>
      </mat-card>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card>
        <mat-card-content>
          <mat-card-title>
            DATASETS
          </mat-card-title>
          <mat-list dense>
            <table
              *ngIf="datasetsPrivate?.length > 0 || datasetsPublic?.length > 0"
            >
              <tr>
                <th>NAME</th>
                <th>MODIFIED DATE/TIME</th>
                <th *ngIf="user && user.email == project.pl_pi">PERMISSION</th>
                <th *ngIf="user && user.email == project.pl_pi">EDIT</th>
                <th>DOWNLOAD</th>
              </tr>
              <ng-container *ngIf="user">
                <tr *ngFor="let dataset of datasetsPrivate">
                  <td>
                    <mat-label matTooltip="Click here to view dataset">
                      <button mat-button (click)="viewDataset(dataset)">
                        {{ dataset.name }}
                      </button>
                    </mat-label>
                  </td>
                  <td>{{ dataset.last_modified | date: 'MM/d/y h:mm a' }}</td>
                  <td *ngIf="user && user.email == project.pl_pi">
                    <mat-chip-list>
                      <mat-chip
                        *ngIf="dataset.private"
                        matTooltip="This Dataset is only visible to PI and collaborators on this dataset."
                        id="button-not-private"
                      >
                        <mat-icon style="margin-right: 8px;"
                          >visibility_off</mat-icon
                        >
                        PRIVATE
                      </mat-chip>
                      <mat-chip
                        *ngIf="!dataset.private"
                        matTooltip="This Dataset is visible to all iTHRIV users."
                        id="button-private"
                      >
                        <mat-icon style="margin-right: 8px;"
                          >visibility</mat-icon
                        >
                        PUBLIC
                      </mat-chip>
                    </mat-chip-list>
                  </td>
                  <td *ngIf="user && user.email == project.pl_pi">
                    <mat-icon
                      matTooltip="Click here to edit dataset"
                      (click)="showDataset(dataset)"
                    >
                      edit
                    </mat-icon>
                  </td>
                  <td>
                    <a
                      *ngIf="
                        (!dataset.private ||
                          (user && user.email == project.pl_pi)) &&
                        dataset.url !== ''
                      "
                      [href]="dataset.url"
                    >
                      <mat-icon
                        matTooltip="Click here to download dataset ({{
                          dataset.filename
                        }})"
                      >
                        file_download
                      </mat-icon>
                    </a>
                  </td>
                </tr>
              </ng-container>
              <ng-container>
                <tr *ngFor="let dataset of datasetsPublic">
                  <td>
                    <mat-label matTooltip="Click here to view dataset">
                      <button mat-button (click)="viewDataset(dataset)">
                        {{ dataset.name }}
                      </button>
                    </mat-label>
                  </td>
                  <td>{{ dataset.last_modified | date: 'MM/d/y h:mm a' }}</td>
                  <td *ngIf="user && user.email == project.pl_pi">
                    <mat-chip-list>
                      <mat-chip
                        *ngIf="dataset.private"
                        matTooltip="This Dataset is only visible to PI and collaborators on this dataset."
                        id="button-not-private"
                      >
                        <mat-icon style="margin-right: 8px;"
                          >visibility_off</mat-icon
                        >
                        PRIVATE
                      </mat-chip>
                      <mat-chip
                        *ngIf="!dataset.private"
                        matTooltip="This Dataset is visible to all iTHRIV users."
                        id="button-private"
                      >
                        <mat-icon style="margin-right: 8px;"
                          >visibility</mat-icon
                        >
                        PUBLIC
                      </mat-chip>
                    </mat-chip-list>
                  </td>
                  <td *ngIf="user && user.email == project.pl_pi">
                    <mat-icon
                      matTooltip="Click here to edit dataset"
                      (click)="showDataset(dataset)"
                    >
                      edit
                    </mat-icon>
                  </td>
                  <td>
                    <a
                      *ngIf="
                        (!dataset.private ||
                          (user && user.email == project.pl_pi)) &&
                        dataset.url !== ''
                      "
                      [href]="dataset.url"
                    >
                      <mat-icon matTooltip="Click here to download dataset">
                        file_download
                      </mat-icon>
                    </a>
                  </td>
                </tr>
              </ng-container>
            </table>
          </mat-list>
          <button
            mat-raised-button
            color="primary"
            (click)="showDataset(dataset)"
            *ngIf="user && user.email == project.pl_pi"
          >
            <mat-icon>post_add</mat-icon>
            ADD DATASET DETAILS
          </button>
        </mat-card-content>
      </mat-card>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card *ngIf="user && user.email == project.pl_pi">
        <mat-card-content *ngIf="user && user.email == project.pl_pi">
          <mat-card-title>
            DOCUMENTS
          </mat-card-title>
          <mat-list dense>
            <table *ngIf="project.documents.length > 0">
              <tr>
                <th>NAME</th>
                <th>MODIFIED DATE/TIME</th>
                <th>DOWNLOAD</th>
              </tr>
              <ng-container *ngIf="user">
                <tr *ngFor="let document of project.documents">
                  <td>
                    <mat-label>
                      {{ document.filename }}
                    </mat-label>
                  </td>
                  <td>{{ document.last_modified | date: 'MM/d/y h:mm a' }}</td>
                  <td>
                    <a [href]="document.url">
                      <mat-icon
                        matTooltip="Click here to download document ({{
                          document.filename
                        }})"
                      >
                        file_download
                      </mat-icon>
                    </a>
                  </td>
                </tr>
              </ng-container>
            </table>
          </mat-list>
          <app-commons-file-upload
            [color]="primary"
            (complete)="onFileComplete($event)"
            [target]="uploadUrl()"
          ></app-commons-file-upload>
        </mat-card-content>
      </mat-card>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card *ngIf="user && user.email == project.pl_pi">
        <mat-card-content>
          <mat-card-title>
            TEAM
          </mat-card-title>
          <mat-list dense>
            <table>
              <tr *ngIf="project && project.collaborators">
                <th>EMAIL</th>
                <th>PROJECT ROLE</th>
              </tr>
              <tr>
                <td>
                  {{ project.pl_pi }}
                </td>
                <td>OWNER</td>
              </tr>
              <tr *ngFor="let collaborator of project.collaborators">
                <td>
                  {{ collaborator }}
                </td>
                <td>COLLABORATOR</td>
              </tr>
            </table>
          </mat-list>
          <button mat-raised-button color="primary">
            <mat-icon>security</mat-icon>
            MANAGE PERMISSIONS
          </button>
        </mat-card-content>
      </mat-card>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-footer>
        <button mat-raised-button color="primary" (click)="showNext()">
          <mat-icon>home</mat-icon>
          Commons Home
        </button>
      </mat-card-footer>
    </div>
    <mat-card
      fxFlex.xl="25%"
      fxFlex.lg="25%"
      fxFlex.md="33%"
      fxFlex.sm="50%"
      fxFlex.xs="100%"
    >
      <mat-card-title>
        PROJECT DETAILS
      </mat-card-title>
      <mat-chip-list *ngIf="user && user.email == project.pl_pi">
        <mat-chip
          *ngIf="project.private"
          matTooltip="This Resource is only visible to PI and collaborators on this project. Click here to change this setting."
          (click)="togglePrivate(!project.private)"
          id="button-not-private"
        >
          <mat-icon style="margin-right: 8px;">visibility_off</mat-icon>
          PRIVATE
        </mat-chip>
        <mat-chip
          *ngIf="!project.private"
          matTooltip="This Resource is visible to all iTHRIV users. Click to restrict it to just project PI and collaborators on this project."
          (click)="togglePrivate(!project.private)"
          id="button-private"
        >
          <mat-icon style="margin-right: 8px;">visibility</mat-icon>
          PUBLIC
        </mat-chip>
      </mat-chip-list>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item *ngIf="user && user.email == project.pl_pi">
            <h4 mat-line>Principal Investigator(s):</h4>
            <p mat-line>{{ project.pl_pi }}</p>
          </mat-list-item>
          <mat-list-item *ngIf="user && user.email == project.pl_pi">
            <h4 mat-line>Home Institution:</h4>
            <p mat-line>{{ project.institution.name }}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Partner Ithriv Institutions:</h4>
            <p mat-line>{{ project.ithriv_partner }}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Other Partner Institutions:</h4>
            <p mat-line>{{ project.other_partner }}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Funding Source(s):</h4>
            <p mat-line>{{ project.funding_source }}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line></h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>KEYWORDS:</h4>
            <mat-chip-list mat-line>
              <mat-chip *ngFor="let keyword of keywords()">
                {{ keyword }}
              </mat-chip>
            </mat-chip-list>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
