#HA Proxy Config
global
 daemon
 maxconn 256
defaults
 mode http
 timeout connect 5000ms
 timeout client 50000ms
 timeout server 50000ms
listen stats
 bind *:9999
 stats enable
 stats hide-version
 stats uri /stats
 stats auth admin:admin@123
frontend ithrivApp
 bind *:80
 acl acl_ithrivApp path_sub ithrivApp
 use_backend ithrivAppBackEnd if acl_ithrivApp
 default_backend ithrivAppBackEnd
backend ithrivAppBackEnd
 balance leastconn
 server ithriv_web1 ithriv_web:4200 check
 server ithriv_web2 ithriv_web:4200 check
