<mat-card
  *ngIf="project && project.id"
  (click)="showNext()"
  [ngClass]="{ resource: true, private: project.private }"
  [hidden]="false"
>
  <div class="category-color" [appCategoryColorBorder]="project"></div>

  <div class="icon-with-content">
    <div>
      <div class="type-icon" *ngIf="typeIconId(project)">
        <mat-icon
          svgIcon="ithriv_{{ typeIconId(project) }}"
          matTooltip="Project Folder"
          (click)="showNext()"
        ></mat-icon>
      </div>
      <div
        class="institution"
        matTooltip="{{ project.institution.name }}"
        (click)="goInstitution($event, project.institution)"
      >
        <img src="/assets/institutions/{{ project.institution.name }}.png" />
      </div>
    </div>

    <div>
      <mat-card-header>
        <mat-card-title>Project: {{ project.name }}</mat-card-title>
        <!-- <app-approved-badge
          [resource]="project"
          [user]="user"
        ></app-approved-badge>
        <app-favorite-resource-button
          [resource]="project"
          [user]="user"
        ></app-favorite-resource-button> -->
      </mat-card-header>
      <mat-card-content>
        <markdown [data]="truncateWords(project.description, 20)"></markdown>
      </mat-card-content>
      <mat-card-footer> </mat-card-footer>
    </div>
  </div>
</mat-card>
