<mat-card
  *ngIf="resource && resource.id"
  [routerLink]="resourceRoute(resource)"
  [ngClass]="{ resource: true, private: resource.private }"
  [hidden]="!resource.user_may_view"
>
  <div class="category-color" [appCategoryColorBorder]="resource"></div>

  <div class="icon-with-content">
    <div>
      <div class="type-icon" *ngIf="typeIconId(resource)">
        <mat-icon
          svgIcon="ithriv_{{ typeIconId(resource) }}"
          matTooltip="{{ resource.type.name }}"
          (click)="goResourceType($event, resource.type)"
        ></mat-icon>
      </div>
      <div
        class="institution"
        matTooltip="{{ resource.institution.name }}"
        (click)="goInstitution($event, resource.institution)"
      >
        <img src="/assets/institutions/{{ resource.institution.name }}.png" />
      </div>
    </div>

    <div>
      <mat-card-header [routerLink]="resourceRoute(resource)">
        <mat-card-title *ngIf="resource.segment.name === 'Event'"
          >{{ resource.segment.name }}: {{ resource.name }}</mat-card-title
        >
        <mat-card-title *ngIf="resource.segment.name !== 'Event'">{{
          resource.name
        }}</mat-card-title>
        <app-approved-badge
          [resource]="resource"
          [user]="user"
        ></app-approved-badge>
        <app-favorite-resource-button
          [resource]="resource"
          [user]="user"
        ></app-favorite-resource-button>
      </mat-card-header>
      <button
        mat-stroked-button
        *ngIf="resource.segment.name === 'Event'"
        title="Add to Calendar"
        class="addeventatc"
        (click)="handleClick($event)"
        matTooltip="Click to add to calender"
      >
        Add to Calendar
        <span class="arrow">&nbsp;</span>
        <span class="start">{{ resource.starts | date: 'MM/d/y h:mm a' }}</span>
        <span class="end">{{ resource.ends | date: 'MM/d/y h:mm a' }}</span>
        <span class="timezone"></span>
        <span class="title">{{ resource.name }}</span>
        <span class="description">{{ getResourceDescText() }}</span>
        <span class="location">{{ resource.location }}</span>
        <span class="alarm_reminder">1440</span>
      </button>
      <mat-card-content [routerLink]="resourceRoute(resource)">
        <markdown
          *ngIf="resource.segment.name != 'Event'"
          [data]="truncateWords(getResourceDescText(), 20)"
        ></markdown>
        <mat-list-item *ngIf="resource.segment.name === 'Event'">
          <p mat-line>
            <b>Starts: </b>{{ resource.starts | date: 'MMM d, y h:mm a' }}
          </p>
          <p mat-line>
            <b>Ends: </b> {{ resource.ends | date: 'MMM d, y h:mm a' }}
          </p>
          <h4 mat-line>Location:</h4>
          <p mat-line>{{ resource.location }}</p>
        </mat-list-item>
      </mat-card-content>
      <mat-card-footer> </mat-card-footer>
    </div>
  </div>
</mat-card>
