@import '../../config';

.ithriv-spacer {
  flex: 1 2 auto;
}

.dataset {
  position: relative;

  .category-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-size: 100% 10px;
    background-repeat: no-repeat;
  }

  h1 {
    color: $brand-primary;
    font-size: 48px;
    font-weight: bolder;
    background: transparent;

    &.mat-display-2 {
      margin-bottom: 0px;
    }
  }

  .button-row {
    margin-bottom: 2em;

    button,
    a {
      margin-right: 8px;
    }
  }
}

mat-card {
  padding-top: 2em;
}

.mat-line.category {
  mat-icon.mat-icon.category-separator {
    font-size: 12px;
    text-align: center;

    ::ng-deep svg {
      margin-bottom: 0px;
    }
  }

  mat-icon.mat-icon.category-icon {
    ::ng-deep svg {
      margin-bottom: -6px;
    }
  }
}

mat-icon {
  cursor: pointer;
}

.mat-row {
  position: relative;
}

.mat-row-link {
  position: absolute;
}

.reference-cell {
  text-decoration: underline;
}

.gray {
  background-color: $brand-gray-light;
}
