<ng-container *ngIf="shouldDisplay">
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="isExpanded"
      hideToggle="true"
    >
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center"
        fxLayoutGap="45px grid"
        id="tiles"
      >
        <app-category-tile
          (click)="goCategory(category)"
          *ngFor="let category of categories"
          [category]="category"
        ></app-category-tile>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
