@import "../config";

mat-toolbar {

  @keyframes glowing {
    0% { background-color:  $brand-warning; }
    50% { background-color: darken($brand-warning, 25%); }
    100% { background-color: $brand-warning; }
  }

  mat-toolbar-row.warning {
    background-color:  $brand-warning;
    animation: glowing 2s ease-in-out infinite;
  }

  mat-toolbar-row {
    a {
      text-decoration: none;
      color:inherit;
    }


    a:hover {
      color: $brand-accent;
    }

    .fill-remaining-space {
      flex: 1 1 auto;
    }

    .mat-divider-vertical {
      color: white;
    }
  }

  .menubar {
    color: white;
    height: 30px;
    font-size: 12px;
    background-color: $brand-primary-dark;

    &.logged-in {
      background-color: red;
    }

    &.menubar-xs {
      height: 56px;
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;

    }

  }

  .logo {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: white;
    border-bottom: 8px solid $brand-primary;

    @media screen and (max-width: 959px) {
      height: 48px;
      max-height: 48px;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    button.mat-stroked-button {
      border-width: 1px;
      border-style: solid;
      border-color: $brand-primary;
      color: $brand-primary;
    }

    img {
      &.logomark {
        height: 48px;
        max-height: 48px;
        vertical-align: middle;

        @media screen and (max-width: 959px) {
          height: 24px;
        }
      }

      &.logo-horizontal {
        height: 40px;
        max-height: 40px;
        vertical-align: middle;

        @media screen and (max-width: 959px) {
          height: 40px;
        }
      }
    }


    h1 {
      color: $brand-primary;
      font-size: 32px;

      @media screen and (max-width: 959px) {
        font-size: 16px;
        background: transparent;
      }
    }

    p {
      color: white;
      white-space: pre-wrap;
    }
  }

  .xs-app-name, .menubar, .navigation, .secondary-nav {
    img {
      &.logomark {
        height: 24px;
        max-height: 24px;
        vertical-align: middle;
      }

      &.logo-horizontal {
        height: 40px;
        max-height: 40px;
        vertical-align: middle;

        @media screen and (max-width: 959px) {
          height: 40px;
        }
      }
    }
  }

  .navigation, .secondary-nav {
    background: white;

    h1 {
      color: $brand-primary;
      font-size: 32px;
      background: transparent;
    }

    color: $brand-primary-dark;
  }

  .secondary-nav {
    mat-button-toggle-group {
      mat-button-toggle {
        color: $brand-primary;
        background-color: #CCC;

        &.mat-button-toggle-checked {
          color: white;
          background-color: $brand-primary;
        }
      }
    }
  }

}



mat-sidenav, mat-sidenav-container {
  z-index: 10;

  mat-list-item button {
    color: $brand-primary;
  }
}

.xs-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 1005;
}

.xs-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.xs-is-mobile .xs-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
