<mat-card *ngIf="user">
  <mat-card-content>
    <mat-card *ngIf="user">
      <mat-card-content *ngIf="user">
        <mat-toolbar>
          <mat-card-title>
            Project Details
          </mat-card-title>
        </mat-toolbar>
        <form
          *ngIf="formStatus === 'form'"
          [formGroup]="fg"
          (ngSubmit)="submitProject($event)"
        >
          <app-form-field
            *ngFor="let field of getFields()"
            [errors]="
              field.formControl
                ? field.formControl.errors
                : field.formGroup.errors
            "
            [field]="field"
            [formGroup]="fg"
            [errorMatcher]="errorMatcher"
          ></app-form-field>
          <footer *ngIf="formStatus === 'form'">
            <div
              id="error_message"
              class="display mat-error"
              *ngIf="errorMessage"
            >
              {{ errorMessage }}
            </div>
            <span class="ithriv-spacer"></span>
            <button
              type="button"
              color="primary"
              mat-raised-button
              (click)="submitProject($event)"
            >
              <mat-icon>save_alt</mat-icon>
              Save
            </button>
            <button type="button" (click)="cancelProject()" mat-button>
              <mat-icon>cancel</mat-icon>
              Cancel
            </button>
          </footer>
        </form>

        <ng-container *ngIf="formStatus !== 'form'">
          <div
            *ngIf="formStatus === 'submitting'"
            fxLayout="column"
            fxLayoutAlign="space-around center"
          >
            <mat-spinner [diameter]="48"></mat-spinner>
            <button type="button" (click)="onCancel()" mat-button>
              Cancel
            </button>
          </div>
          <div *ngIf="formStatus === 'complete'">
            <p>
              <b>Commons project {{ project.name }} successfully created. </b>
            </p>
            <button
              type="button"
              color="primary"
              mat-raised-button
              (click)="showForm()"
            >
              <mat-icon>help</mat-icon>
              Create another project
            </button>
            <button
              type="button"
              color="primary"
              mat-button
              (click)="cancelProject()"
            >
              Continue
            </button>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card
      *ngIf="
        user &&
        formStatus === 'form' &&
        project.id !== '' &&
        project.can_manage_permission === true
      "
    >
      <mat-card-content *ngIf="user">
        <mat-toolbar>
          <mat-card-title>
            Project Permissions
          </mat-card-title>
        </mat-toolbar>
        <mat-list dense>
          <table
            mat-table
            [dataSource]="userPermissions$ | async"
            class="mat-elevation-z8 projectperms"
          >
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>EMAIL</th>
              <td mat-cell *matCellDef="let userPermission">
                <mat-label>
                  {{ userPermission.user_email }}
                </mat-label>
              </td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef>ROLE</th>
              <td mat-cell *matCellDef="let userPermission">
                {{ lookupRole(userPermission.user_role) }}
              </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>
                EDIT
              </th>
              <td mat-cell *matCellDef="let userPermission">
                <button
                  type="button"
                  (click)="editPermission(userPermission)"
                  color="warn"
                  mat-mini-fab
                >
                  <mat-icon
                    matTooltip="Click here to edit project user permission"
                  >
                    edit
                  </mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>DELETE</th>
              <td mat-cell *matCellDef="let userPermission">
                <button
                  type="button"
                  (click)="deletePermission(userPermission)"
                  color="primary"
                  mat-mini-fab
                >
                  <mat-icon
                    matTooltip="Click here to delete user's project permission"
                  >
                    delete
                  </mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedUserpermColumns"></tr>
            <tr
              mat-row
              *matRowDef="
                let row;
                let even = even;
                columns: displayedUserpermColumns
              "
              [ngClass]="{ gray: even }"
            ></tr>
          </table>
        </mat-list>
        <div
          id="error_message"
          class="display mat-error"
          *ngIf="errorMessagePerm"
        >
          {{ errorMessagePerm }}
        </div>
        <span class="ithriv-spacer"></span>
        <button
          type="button"
          color="warn"
          mat-raised-button
          (click)="addPermission()"
        >
          <mat-icon>security</mat-icon>
          ADD PERMISSION
        </button>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-footer>
    <button
      mat-raised-button
      *ngIf="createNew === false"
      color="primary"
      (click)="showNext()"
    >
      <mat-icon>home</mat-icon>
      Project Home
    </button>
    <button
      type="button"
      mat-raised-button
      *ngIf="
        project.can_delete_meta &&
        project.can_delete_data &&
        !showConfirmDelete &&
        createNew === false
      "
      (click)="showDelete()"
      color="warn"
    >
      Delete Project
    </button>
    <button
      *ngIf="
        showConfirmDelete && project.can_delete_meta && project.can_delete_data
      "
      type="button"
      mat-raised-button
      (click)="deleteProject()"
      color="warn"
    >
      <mat-icon>delete</mat-icon>
      Permanently Delete This Project!!!
    </button>

    <div id="error_message" class="display mat-error" *ngIf="error">
      {{ error }}
    </div>
  </mat-card-footer>
</mat-card>
