@import "../../config";
@import "../../mixins";

form {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-top: 2em;
  padding-bottom: 0;
}

.ithriv-spacer {
  flex: 1 1 auto;
}

#spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

fieldset {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  &.show {
    padding: 2em;
    margin-bottom: 2em;
    @include mat-elevation(1);
  }
}

.mat-row {
  position: relative;
}

.mat-row-link {
  position: absolute;
}

.reference-cell {
  text-decoration: underline;
}

.gray {
  background-color: $brand-gray-light;
}

.full-width {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

fieldset.dataset-type {
  border: 1px solid $brand-gray;
  border-radius: 2px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}
