@import "../../config";

.container {
  min-height: 100vh;
}

.md-tooltip {
  height: auto;
}
.mat-row {
  position: relative;
}

.mat-row-link {
  position: absolute;
}

.reference-cell {
  text-decoration: underline;
}

.gray {
  background-color: $brand-gray-light;
}
