<div class="mat-typography">
  <div *ngIf="data && data.dataset" mat-dialog-title>
    <h2>Download highly-sensitive dataset <em>{{data.dataset.name}}</em>?</h2>
    <span fxFlex></span>
    <button mat-dialog-close="" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <p>By clicking "Confirm" below, I confirm that I have reviewed the Data Security Plan for <strong>{{data.dataset.name}}</strong>. I am saving this file to a location listed on my DSP and approved for Highly Sensitive Data.</p>
  </div>
  <div mat-dialog-actions>
    <div class="select-mode" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button (click)="onSubmit()" color="warn" mat-flat-button>
        <mat-icon>check</mat-icon>
        Confirm
      </button>
      <button (click)="onNoClick()" color="primary" mat-flat-button>
        <mat-icon>close</mat-icon>
        Cancel
      </button>
    </div>
  </div>
</div>
