@import "config";
@import "material";
@import "mixins";
@include mat-core($custom-typography);
@include angular-material-theme($ithriv-theme);

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin ithriv-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  html, body, .main {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: $brand-primary-light-25;
    min-height: 100vh;
  }

  #browse {
    .header {
      markdown {
        p,
        blockquote,
        li {
          color: white;
        }
      }
    }

    .sub-category > markdown > p {
      margin-left: 2em;
    }
  }

  h1 {
    font-size: 24px;

    &.page-title {
      color: $brand-primary;
      font-size: 32px;
      font-weight: bolder;
      margin-top: 1em;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  button {
    background-color: transparent;
    border: none;
  }

  button:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2);
  }

  button[disabled] {
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent;
  }

  .spacer {
    flex: 1 1 auto;
  }

  a {
    text-decoration: none;
    color: $brand-primary;
  }

  .mat-tab-label {
    background-color: white;

    .mat-tab-label-content {
      color: black;
    }

    &.mat-tab-label-active {
      background-color: transparent;

      .mat-tab-label-content {
        color: white;
      }
    }
  }

  .mat-tab-body-content {
    background-color: $brand-primary-light-25;
  }

  ::ng-deep .mat-tab-group.mat-primary.mat-background-primary .mat-ink-bar,
  ::ng-deep .mat-tab-nav-bar.mat-primary.mat-background-primary .mat-ink-bar {
    background-color: $brand-primary-light;
  }

  #fileUpload {
    file-drop {
      .file-upload {
        transition: 750ms ease background-color, 750ms ease border;
        background-color: #dddddd;
        border: 1px solid #dddddd;
        border-radius: 50%;
        height: 400px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        #dropZoneInstructions {
          color: $brand-gray;
          text-align: center;

          mat-icon {
            font-size: 128px;
            width: 128px;
            height: 128px;
          }
        }
      }

      #fileQueueContainer {
        width: 100%;
      }
    }

    &.hover file-drop .file-upload {
      background-color: $brand-primary;
      border: 1px solid $brand-primary;

      #dropZoneInstructions {
        color: white;
      }
    }
  }

  .mat-drawer-content.mat-sidenav-content {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: visible;
  }

  ::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  :host >>> .content {
    height: -moz-available; /* WebKit-based browsers will ignore this. */
  }

  .mat-tooltip {
    font-size: 12px !important;
  }

  .mat-card.create-edit, .mat-card.view {
    .mat-card-header {
      padding-bottom: 1em;

      .mat-card-header-text {
        padding: 0;
        margin: 0;
      }

      .mat-card-title {
        font-size: $font-size-larger-4;
        color: $brand-primary;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
      }

      .mat-card-subtitle {
        margin-top: 1em;
      }
    }

    .mat-card-actions {
      padding: 0;
      margin: 0;
      margin-bottom: 4px !important;
    }
  }

  .mat-table {
    @include mat-elevation(2);

    .mat-cell {
      padding-left: 1em;
      padding-right: 1em;
    }

    .mat-header-cell {
      padding-left: 1em;
      padding-right: 1em;
      background-color: $brand-primary-light;
      color: white;
      font-size: $base-font-size;
    }
  }

  .mat-snack-bar-container.snackbar-warning {
    background-color: $brand-warning;
  }

}
