<div *ngIf="!user && !publicpage" class="please-log-in">
  <app-login-services></app-login-services>
</div>

<h1 *ngIf="!user && publicpage" class="mat-h1 page-title">Public View</h1>
<mat-tab-group
  *ngIf="!user && publicpage"
  backgroundColor="primary"
  dynamicHeight
  mat-stretch-tabs
>
  <mat-tab label="Events">
    <div class="example-small-box mat-elevation-z4">
      <app-event-list
        *ngIf="!user && publicpage"
        [events]="events"
        [sidenavExpanded]="false"
        [user]="user"
      ></app-event-list>
    </div>
  </mat-tab>
</mat-tab-group>

<h1 *ngIf="user" class="mat-h1 page-title">myTHRIV Workspace</h1>

<mat-tab-group
  #tabGroup
  *ngIf="user"
  backgroundColor="primary"
  dynamicHeight
  mat-stretch-tabs
  [selectedIndex]="tabIndex"
  (selectedIndexChange)="updateRouteTabIndex($event)"
>
  <mat-tab label="Events" [tabindex]="0">
    <ng-template matTabContent>
      <ng-container class="example-small-box mat-elevation-z4">
        <app-event-list
          *ngIf="user"
          [events]="events"
          [sidenavExpanded]="false"
          [user]="user"
          [tabIndex]="0"
        ></app-event-list>
      </ng-container>
    </ng-template>
  </mat-tab>
  <mat-tab label="My Favorite Resources and Events" [tabindex]="1">
    <ng-template matTabContent>
      <ng-container class="example-large-box mat-elevation-z4">
        <app-favorite-resource-list
          *ngIf="user"
          [institution]="institution"
          [user]="user"
          [tabIndex]="1"
        ></app-favorite-resource-list>
      </ng-container>
    </ng-template>
  </mat-tab>
  <mat-tab label="My Resources and Events" [tabindex]="2">
    <ng-template matTabContent>
      <ng-container class="example-large-box mat-elevation-z4">
        <app-user-resource-list
          *ngIf="user"
          [institution]="institution"
          [user]="user"
          [tabIndex]="2"
        ></app-user-resource-list>
      </ng-container>
    </ng-template>
  </mat-tab>
  <mat-tab
    #commonsTab
    *ngIf="user && user.institution.name==='UVA'"
    [tabindex]="3"
  >
    <ng-template mat-tab-label>
      <span class="tab-click-area" (click)="handleFormStatusTabChange()">Research Commons</span>
    </ng-template>
    <ng-template matTabContent>
      <app-commons-home
        #commonsHome
        [user]="user"
        color="primary"
        [formStatus]="formStatus"
        [tabIndex]="3"
      ></app-commons-home>
    </ng-template>
  </mat-tab>
  <mat-tab label="Recently Updated Resources and Events" [tabindex]="4">
    <ng-template matTabContent>
      <ng-container class="example-small-box mat-elevation-z4">
        <app-resource-list
          *ngIf="user"
          [resources]="resources"
          [sidenavExpanded]="false"
          [user]="user"
          [navItems]="[{title: 'Recently Updated Resources and Events', routerLink: '/home', queryParams: {tabIndex: 4}}]"
        ></app-resource-list>
      </ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>
