<mat-card>
  <mat-card-content *ngIf="user">
    <ng-container *ngIf="formStatus === 'commons-projects-list'">
      <app-commons-menu
        [user]="user"
        [currentForm]="formStatus"
        (currentFormChange)="updateStatus($event)"
      ></app-commons-menu>
    </ng-container>
  </mat-card-content>
  <mat-card-content>
    <ng-container *ngIf="formStatus === 'commons-projects-list'">
      <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="My Projects" *ngIf="user">
          <ng-template matTabContent>
            <ng-container class="example-small-box mat-elevation-z4">
              <app-commons-project-list
                listType="private"
                [user]="user"
                [currentForm]="formStatus"
                (currentFormChange)="updateStatus($event)"
                [projects]="projects"
              ></app-commons-project-list>
            </ng-container>
          </ng-template>
        </mat-tab>
        <mat-tab label="All Projects">
          <ng-template matTabContent>
            <ng-container class="example-large-box mat-elevation-z4">
              <app-commons-project-list
                listType="public"
                [user]="user"
                [currentForm]="formStatus"
                (currentFormChange)="updateStatus($event)"
                [projects]="projects"
              ></app-commons-project-list>
            </ng-container>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </mat-card-content>
</mat-card>
<ng-container *ngIf="formStatus === 'commons-project-create-edit'">
  <app-commons-project-create-edit
    [user]="user"
    [currentForm]="formStatus"
    (currentFormChange)="updateStatus($event)"
    [previousForm]="projectCreateEditPrevForm"
  ></app-commons-project-create-edit>
</ng-container>
<ng-container *ngIf="formStatus === 'commons-dataset-create-edit'">
  <app-commons-dataset-create-edit
    [user]="user"
    [currentForm]="formStatus"
    (currentFormChange)="updateStatus($event)"
  ></app-commons-dataset-create-edit>
</ng-container>
<ng-container *ngIf="formStatus === 'commons-project'">
  <app-commons-project
    [user]="user"
    [currentForm]="formStatus"
    (currentFormChange)="updateStatus($event)"
    [project]="currentProject"
  ></app-commons-project>
</ng-container>
